@import "../../../../styles/variable.scss";

.header-container {
  display: flex;
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;

  background-color: $main-background-color;

  .top {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #log-reg {
      button {
        margin-right: 16px;
      }
    }
  }
}

img {
  width: 185px;
  height: 185px;
}
