// sizes
$header-height: 100px;
$footer-height: 270px;
$circle-diameter: 150px;
$border-radius: 16px;

//colors
$main-background-color: #2c2b3f;
$title-highlight-menta: #35b5ad;
$secondary-background-color-brown: #645c64;
$title-color: #e6e1e4;
$info-title-color: #6995b0;
