<form
  class="registration-form"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <h3>Registration</h3>
  <label for="user-name"
    >Username
    <input
      type="text"
      id="username"
      formControlName="username"
      placeholder="Username"
    />
  </label>
  <label for="email"
    >E-mail
    <input type="text" id="email" formControlName="email" placeholder="email" />
  </label>
  <label for="password"
    >Password
    <input
      type="password"
      id="password"
      formControlName="password"
      placeholder="password"
    />
  </label>
  <button class="register-button" mat-flat-button type="submit">
    Regisztráció
  </button>
</form>
